
\.DS_Store

\.idea/

config/

db\.sqlite3

soma/__pycache__/

soma/migrations/__pycache__/

login/migrations/__pycache__/

login/__pycache__/

hiroto/__pycache__/

hiroto/migrations/__pycache__/

budget/__pycache__/

user_admin/__pycache__/__init__\.cpython-36\.pyc

user_admin/__pycache__/
