
<style type = "text/css">
/* タブ切り替え */
.cp_tab2 *, .cp_tab2 *:before, .cp_tab2 *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab2 {
	margin: 1em auto;
}
.cp_tab2 > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab2 .cp_tabpanel {
	display: none;
}
.cp_tab2 > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab2 > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab2 > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab2 > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab2 > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab2 > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
	display: block;
}
.cp_tab2 > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.cp_tab2 > label:hover,
.cp_tab2 > input:focus + label {
	color: #0066cc;
}
.cp_tab2 > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.cp_tab2 .cp_tabpanel {
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.cp_tab2 {
		width: 100%;
		font-size: 0.8em;
	}
	.cp_tab2 label {
		padding: 0.5em;
	}
}

/*資産タブ*/
.asset_tab *, .asset_tab *:before, .asset_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.asset_tab{
	margin: 1em auto;
}
.asset_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.asset_tab .asset_tabpanel{
	display: none;
}
.asset_tab > input:first-child:checked ~ .asset_tabpanels > .asset_tabpanel:first-child,
.asset_tab > input:nth-child(3):checked ~ .asset_tabpanels > .asset_tabpanel:nth-child(2),
.asset_tab > input:nth-child(5):checked ~ .asset_tabpanels > .asset_tabpanel:nth-child(3),
.asset_tab > input:nth-child(7):checked ~ .asset_tabpanels > .asset_tabpanel:nth-child(4),
.asset_tab > input:nth-child(9):checked ~ .asset_tabpanels > .asset_tabpanel:nth-child(5),
.asset_tab > input:nth-child(11):checked ~ .asset_tabpanels > .asset_tabpanel:nth-child(6) {
	display: block;
}
.asset_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.asset_tab > label:hover,
.asset_tab > input:focus + label {
	color: #0066cc;
}
.asset_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.asset_tab .asset_tabpanel{
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.asset_tab{
		width: 100%;
		font-size: 0.8em;
	}
	.asset_tab label {
		padding: 0.5em;
	}
}
/*実績タブ*/
.result_tab *, .result_tab *:before, .result_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.result_tab{
	margin: 1em auto;
}
.result_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.result_tab .result_tabpanel{
	display: none;
}
.result_tab > input:first-child:checked ~ .result_tabpanels > .result_tabpanel:first-child,
.result_tab > input:nth-child(3):checked ~ .result_tabpanels > .result_tabpanel:nth-child(2),
.result_tab > input:nth-child(5):checked ~ .result_tabpanels > .result_tabpanel:nth-child(3),
.result_tab > input:nth-child(7):checked ~ .result_tabpanels > .result_tabpanel:nth-child(4),
.result_tab > input:nth-child(9):checked ~ .result_tabpanels > .result_tabpanel:nth-child(5),
.result_tab > input:nth-child(11):checked ~ .result_tabpanels > .result_tabpanel:nth-child(6) {
	display: block;
}
.result_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.result_tab > label:hover,
.result_tab > input:focus + label {
	color: #0066cc;
}
.result_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.result_tab .result_tabpanel{
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.result_tab{
		width: 100%;
		font-size: 0.8em;
	}
	.result_tab label {
		padding: 0.5em;
	}
}

/* モーダルCSS */
.modalAreaAsset {display: none;position: fixed;z-index: 10; /*サイトによってここの数値は調整 */top: 0;left: 0;width: 100%;height: 100%;}
.modalBgAsset {width: 100%;height: 100%;background-color: rgba(30,30,30,0.9);}
.modalWrapperAsset {position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);width: 70%;max-width: 500px;padding: 10px 30px;background-color: #fff;}

/* 以下ボタンスタイル */
button {padding: 10px;background-color: #fff;border: 1px solid #282828;border-radius: 2px;cursor: pointer;}

</style>

        <section id="modalAreaAsset" class="modalAreaAsset">
            <div id="modalBgAsset" class="modalBgAsset"></div>
            <div class="modalWrapperAsset">
                <form action="" method="post" role="form">
                    {% csrf_token %}

                </form>
                <div class="cp_tab2">
	                <input type="radio" name="cp_tab2" id="tab2_1" aria-controls="first_tab11" checked>
                	<label for="tab2_1">資産</label>
                	<input type="radio" name="cp_tab2" id="tab2_2" aria-controls="second_tab21">
                	<label for="tab2_2">--</label>
	                <div class="cp_tabpanels">
	                	<div id="first_tab11" class="cp_tabpanel">

                            <div class="asset_tab">

	                            <input type="radio" name="asset_tab" id="asset_tab2_1" aria-controls="asset_tab01" checked>
                	            <label for="asset_tab2_1">入力</label>
                	            <input type="radio" name="asset_tab" id="asset_tab2_2" aria-controls="asset_tab02" >
                	            <label for="asset_tab2_2">推移</label>

                                <div class="asset_tabpanels">
                                    <div id="asset_tab01" class="asset_tabpanel">
                                        <h2>資産の作成</h2>
                                        <form action="" method="post" role="form">
                                        {% csrf_token %}
                                        資産サマリー
                                            <table class="asset-table">
                                                {% for wallet in wallet_data %}
                                                    <tr class="asset_tr">
                                                    {{ wallet.id.as_hidden }}
                                                        <th>{{ wallet.name }}</th>
                                                        <td>{{ wallet.balance }}円</td>
                                                        <td><input type="text" name="balance_update_{{ wallet.id }}" maxlength="10" id="balance{{ wallet.id }}">円</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <button type="submit" name="wallet_button" value="wallet_button">更新</button>
                                        </form>
                                    </div>
                                    <div id="asset_tab02" class="asset_tabpanel">
                                        <h2>資産の推移</h2>
                                        <form action="" method="post" role="form">
                                            {% csrf_token %}
                                            {{ assetUpdateForm.PPUF_assetform_id.as_hidden }}
                                            <p>
                                                {{ assetUpdateForm.PPUF_assetform_payment_unit_id.label }}：
                                                {{ assetUpdateForm.PPUF_assetform_payment_unit_id }}
                                            </p>
                                            <p>
                                                {{ assetUpdateForm.PPUF_assetform_name.label }}：
                                                {{ assetUpdateForm.PPUF_assetform_name }}
                                            </p>
                                            <p>
                                                {{ assetUpdateForm.PPUF_assetform_amount.label }}：
                                                {{ assetUpdateForm.PPUF_assetform_amount }}円  (  {{ assetUpdateForm.PPUF_assetform_amount_plus_flg }}  )
                                            </p>
                                            <p>
                                                {{ assetUpdateForm.PPUF_assetform_payment_limit.label }}：
                                                {{ assetUpdateForm.PPUF_assetform_payment_limit }}
                                            </p>
                                            <button type="submit" name="asset_update_button" value="asset_update_button">更新</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

	                	</div>
	                	<div id="second_tab21" class="cp_tabpanel">

	                	    <h2>資産情報</h2>
                                <div id="selected_asset_name"></div>
                                <div id="selected_asset_amount"></div>
                                <!--TODO すでに今月3000円使ってます的な情報を表示-->
                                <div id="average_amount"></div>

                            <h2>実績情報</h2>

                            <div class="result_tab">
	                            <input type="radio" name="result_tab" id="result_tab2_1" aria-controls="result_tab01" checked>
                	            <label for="result_tab2_1">作成</label>
                	            <input type="radio" name="result_tab" id="result_tab2_2" aria-controls="result_tab02">
                	            <label for="result_tab2_2">更新</label>

                                <div class="result_tabpanels">
                                    <div id="result_tab01" class="result_tabpanel">
                                        <form action="" method="post" role="form">
                                            {% csrf_token %}
                                            <!--TODO ダイナミックサーチ-->
                                            <p>
                                                {{ resultRegistForm.PRRF_memo.label }}：
                                                {{ resultRegistForm.PRRF_memo }}
                                            </p>
                                            <p>
                                                {{ resultRegistForm.PRRF_amount.label }}：
                                                {{ resultRegistForm.PRRF_amount }}円  (  {{ resultRegistForm.PRRF_amount_plus_flg }}  )
                                            </p>
                                            <p>
                                                {{ resultRegistForm.PRRF_wallet.label }}：
                                                {{ resultRegistForm.PRRF_wallet }}
                                            </p>
                                            <!--TODO datepicker-->
                                            <p>
                                                {{ resultRegistForm.PRRF_payment_date.label }}：
                                                {{ resultRegistForm.PRRF_payment_date }}
                                            </p>
                                            {{ resultRegistForm.PRRF_selected_asset_id.as_hidden }}
                                            <button type="submit" name="result_regist_button" value="result_regist_button">作成</button>
                                        </form>
                                    </div>
                                    <div id="result_tab02" class="result_tabpanel">
                                        <form action="" method="post" role="form">
                                            {% csrf_token %}
                                            <!--TODO ダイナミックサーチ-->
                                            <p>
                                                {{ resultUpdateForm.PRUF_memo.label }}：
                                                {{ resultUpdateForm.PRUF_memo }}
                                            </p>
                                            <p>
                                                {{ resultUpdateForm.PRUF_amount.label }}：
                                                {{ resultUpdateForm.PRUF_amount }}円  (  {{ resultUpdateForm.PRUF_amount_plus_flg }}  )
                                            </p>
                                            <p>
                                                {{ resultUpdateForm.PRUF_wallet.label }}：
                                                {{ resultUpdateForm.PRUF_wallet }}
                                            </p>
                                            <!--TODO datepicker-->
                                            <p>
                                                {{ resultUpdateForm.PRUF_payment_date.label }}：
                                                {{ resultUpdateForm.PRUF_payment_date }}
                                            </p>
                                            {{ resultUpdateForm.PRUF_selected_result_id.as_hidden }}
                                            <button type="submit" name="result_update_button" value="result_update_button">更新</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

	                	</div>
	                </div>
                </div>

            </div>
        </section>