
<style type = "text/css">
/* タブ切り替え */
.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	margin: 1em auto;
}
.cp_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab .cp_tabpanel {
	display: none;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
	display: block;
}
.cp_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.cp_tab > label:hover,
.cp_tab > input:focus + label {
	color: #0066cc;
}
.cp_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.cp_tab .cp_tabpanel {
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.cp_tab {
		width: 100%;
		font-size: 0.8em;
	}
	.cp_tab label {
		padding: 0.5em;
	}
}

/*予算タブ*/
.plan_tab *, .plan_tab *:before, .plan_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.plan_tab{
	margin: 1em auto;
}
.plan_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.plan_tab .plan_tabpanel{
	display: none;
}
.plan_tab > input:first-child:checked ~ .plan_tabpanels > .plan_tabpanel:first-child,
.plan_tab > input:nth-child(3):checked ~ .plan_tabpanels > .plan_tabpanel:nth-child(2),
.plan_tab > input:nth-child(5):checked ~ .plan_tabpanels > .plan_tabpanel:nth-child(3),
.plan_tab > input:nth-child(7):checked ~ .plan_tabpanels > .plan_tabpanel:nth-child(4),
.plan_tab > input:nth-child(9):checked ~ .plan_tabpanels > .plan_tabpanel:nth-child(5),
.plan_tab > input:nth-child(11):checked ~ .plan_tabpanels > .plan_tabpanel:nth-child(6) {
	display: block;
}
.plan_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.plan_tab > label:hover,
.plan_tab > input:focus + label {
	color: #0066cc;
}
.plan_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.plan_tab .plan_tabpanel{
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.plan_tab{
		width: 100%;
		font-size: 0.8em;
	}
	.plan_tab label {
		padding: 0.5em;
	}
}
/*実績タブ*/
.result_tab *, .result_tab *:before, .result_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.result_tab{
	margin: 1em auto;
}
.result_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.result_tab .result_tabpanel{
	display: none;
}
.result_tab > input:first-child:checked ~ .result_tabpanels > .result_tabpanel:first-child,
.result_tab > input:nth-child(3):checked ~ .result_tabpanels > .result_tabpanel:nth-child(2),
.result_tab > input:nth-child(5):checked ~ .result_tabpanels > .result_tabpanel:nth-child(3),
.result_tab > input:nth-child(7):checked ~ .result_tabpanels > .result_tabpanel:nth-child(4),
.result_tab > input:nth-child(9):checked ~ .result_tabpanels > .result_tabpanel:nth-child(5),
.result_tab > input:nth-child(11):checked ~ .result_tabpanels > .result_tabpanel:nth-child(6) {
	display: block;
}
.result_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.result_tab > label:hover,
.result_tab > input:focus + label {
	color: #0066cc;
}
.result_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.result_tab .result_tabpanel{
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.result_tab{
		width: 100%;
		font-size: 0.8em;
	}
	.result_tab label {
		padding: 0.5em;
	}
}

/* モーダルCSS */
.modalArea {display: none;position: fixed;z-index: 10; /*サイトによってここの数値は調整 */top: 0;left: 0;width: 100%;height: 100%;}
.modalBg {width: 100%;height: 100%;background-color: rgba(30,30,30,0.9);}
.modalWrapper {position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);width: 70%;max-width: 500px;padding: 10px 30px;background-color: #fff;}
.closeModal {position: absolute;top: 0.5rem;right: 1rem;cursor: pointer;}

/* 以下ボタンスタイル */
button {padding: 10px;background-color: #fff;border: 1px solid #282828;border-radius: 2px;cursor: pointer;}
#openModal {position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}

</style>

        <section id="modalArea" class="modalArea">
            <div id="modalBg" class="modalBg"></div>
            <div class="modalWrapper">
                <form action="" method="post" role="form">
                    {% csrf_token %}

                </form>
                <div class="cp_tab">
	                <input type="radio" name="cp_tab" id="tab1_1" aria-controls="first_tab01" >
                	<label for="tab1_1">予算</label>
                	<input type="radio" name="cp_tab" id="tab1_2" aria-controls="second_tab01" checked>
                	<label for="tab1_2">実績</label>
	                <div class="cp_tabpanels">
	                	<div id="first_tab01" class="cp_tabpanel">

                            <div class="plan_tab">

	                            <input type="radio" name="plan_tab" id="plan_tab1_1" aria-controls="plan_tab01" >
                	            <label for="plan_tab1_1">作成</label>
                	            <input type="radio" name="plan_tab" id="plan_tab1_2" aria-controls="plan_tab02" checked>
                	            <label for="plan_tab1_2">更新</label>

                                <div class="plan_tabpanels">
                                    <div id="plan_tab01" class="plan_tabpanel">
                                        <h2>予算の作成</h2>
                                        <form action="" method="post" role="form">
                                            {% csrf_token %}
                                            {{ planRegistForm.PPRF_planform_id.as_hidden }}
                                            <p>
                                                {{ planRegistForm.PPRF_planform_payment_unit_id.label }}：
                                                {{ planRegistForm.PPRF_planform_payment_unit_id }}
                                            </p>
                                            <p>
                                                {{ planRegistForm.PPRF_planform_name.label }}：
                                                {{ planRegistForm.PPRF_planform_name }}
                                            </p>
                                            <p>
                                                {{ planRegistForm.PPRF_planform_amount.label }}：
                                                {{ planRegistForm.PPRF_planform_amount }}円  (  {{ planRegistForm.PPRF_planform_amount_plus_flg }}  )
                                            </p>
                                            <p>
                                                {{ planRegistForm.PPRF_planform_payment_limit.label }}：
                                                {{ planRegistForm.PPRF_planform_payment_limit }}
                                            </p>
                                            <button type="submit" name="plan_regist_button" value="plan_regist_button">更新</button>
                                        </form>
                                    </div>
                                    <div id="plan_tab02" class="plan_tabpanel">
                                        <h2>予算の更新</h2>
                                        <form action="" method="post" role="form">
                                            {% csrf_token %}
                                            {{ planUpdateForm.PPUF_planform_id.as_hidden }}
                                            <p>
                                                {{ planUpdateForm.PPUF_planform_payment_unit_id.label }}：
                                                {{ planUpdateForm.PPUF_planform_payment_unit_id }}
                                            </p>
                                            <p>
                                                {{ planUpdateForm.PPUF_planform_name.label }}：
                                                {{ planUpdateForm.PPUF_planform_name }}
                                            </p>
                                            <p>
                                                {{ planUpdateForm.PPUF_planform_amount.label }}：
                                                {{ planUpdateForm.PPUF_planform_amount }}円  (  {{ planUpdateForm.PPUF_planform_amount_plus_flg }}  )
                                            </p>
                                            <p>
                                                {{ planUpdateForm.PPUF_planform_payment_limit.label }}：
                                                {{ planUpdateForm.PPUF_planform_payment_limit }}
                                            </p>
                                            <button type="submit" name="plan_update_button" value="plan_update_button">更新</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

	                	</div>
	                	<div id="second_tab01" class="cp_tabpanel">

	                	    <h2>予算情報</h2>
                                <div id="selected_plan_name"></div>
                                <div id="selected_plan_amount"></div>
                                <!--TODO すでに今月3000円使ってます的な情報を表示-->
                                <div id="average_amount"></div>

                            <h2>実績情報</h2>

                            <div class="result_tab">
	                            <input type="radio" name="result_tab" id="result_tab1_1" aria-controls="result_tab01" checked>
                	            <label for="result_tab1_1">作成</label>
                	            <input type="radio" name="result_tab" id="result_tab1_2" aria-controls="result_tab02">
                	            <label for="result_tab1_2">更新</label>

                                <div class="result_tabpanels">
                                    <div id="result_tab01" class="result_tabpanel">
                                        <form action="" method="post" role="form">
                                            {% csrf_token %}
                                            <!--TODO ダイナミックサーチ-->
                                            <p>
                                                {{ resultRegistForm.PRRF_memo.label }}：
                                                {{ resultRegistForm.PRRF_memo }}
                                            </p>
                                            <p>
                                                {{ resultRegistForm.PRRF_amount.label }}：
                                                {{ resultRegistForm.PRRF_amount }}円  (  {{ resultRegistForm.PRRF_amount_plus_flg }}  )
                                            </p>
                                            <p>
                                                {{ resultRegistForm.PRRF_wallet.label }}：
                                                {{ resultRegistForm.PRRF_wallet }}
                                            </p>
                                            <!--TODO datepicker-->
                                            <p>
                                                {{ resultRegistForm.PRRF_payment_date.label }}：
                                                {{ resultRegistForm.PRRF_payment_date }}
                                            </p>
                                            {{ resultRegistForm.PRRF_selected_plan_id.as_hidden }}
                                            <button type="submit" name="result_regist_button" value="result_regist_button">作成</button>
                                        </form>
                                    </div>
                                    <div id="result_tab02" class="result_tabpanel">
                                        <form action="" method="post" role="form">
                                            {% csrf_token %}
                                            <!--TODO ダイナミックサーチ-->
                                            <p>
                                                {{ resultUpdateForm.PRUF_memo.label }}：
                                                {{ resultUpdateForm.PRUF_memo }}
                                            </p>
                                            <p>
                                                {{ resultUpdateForm.PRUF_amount.label }}：
                                                {{ resultUpdateForm.PRUF_amount }}円  (  {{ resultUpdateForm.PRUF_amount_plus_flg }}  )
                                            </p>
                                            <p>
                                                {{ resultUpdateForm.PRUF_wallet.label }}：
                                                {{ resultUpdateForm.PRUF_wallet }}
                                            </p>
                                            <!--TODO datepicker-->
                                            <p>
                                                {{ resultUpdateForm.PRUF_payment_date.label }}：
                                                {{ resultUpdateForm.PRUF_payment_date }}
                                            </p>
                                            {{ resultUpdateForm.PRUF_selected_result_id.as_hidden }}
                                            <button type="submit" name="result_update_button" value="result_update_button" id="result_update_button">更新</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

	                	</div>
	                </div>
                </div>

            </div>
        </section>