{% load static %}

<!DOCTYPE html>
<!--
960px想定
-->
<html lang="jp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/budget.css" type="text/css">
        <style type = "text/css">
            table.budget-table,table.asset-table{
                border:1px black solid;
            }
            table.budget-table tr,table.budget-table th,table.budget-table td{
                border:1px black solid;
            }
            table.asset-table tr,table.asset-table th,table.asset-table td{
                border:1px black solid;
            }
            div.side-menu{
                width:160px;
                border-right:1px black solid;
            }
            div.main-contents{
                width:800px;
                border-left:1px black solid;
            }
            div.inline-box{
                float:left;
            }

        </style>
    </head>
    <body>
        <table class = "body-frame">
            <tr class = "header">
                <td colspan = "2">
                </td>
            </tr>
            <tr class = "contents">
                <td>
                    <div class = "side-menu" >
                        hiroto side menu<br/>
                        <a href="/user_admin">ユーザー設定</a>
                    </div>
                </td>
                <td>
                    <div class ="main-contents">
                        {% block main-contents-frame %}
                        <table class = "main-contents-frame">
                            <tr>
                                <td>
                                収支予定/資産状況{{ form.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>おすすめ集計範囲：</span>
                                    <span>カスタム集計範囲：</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   □week　□month
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form id="month_form" method="get" action="#">
                                        {% csrf_token %}
                                        対象月：{{ displayForm.month_select_box }}
                                    </form>
                                    <form id="settlement_form" method="post" action="#">
                                        {% csrf_token %}
                                        決算月：{{ settlementForm.settlement_month }}(例)201906
                                        決算日：{{ settlementForm.settlement_date }}
                                        <button type="submit" name="settlement_button" value="settlement_button">決算</button>
                                    </form>
                                </td>
                                <td>
                                    <form id="fresh" method="get" action="#">
                                        <button type="submit" name="fresh_button" value="fresh_button">画面更新</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class = "budget-table">
                                        <tr>
                                            <th></th>
                                            <th colspan="3">予定</th>
                                            <th colspan="3">実績</th>
                                        </tr>
                                        {% if payment_unit_count1 > 0 %}
                                            <!--
                                                0:plan.id
                                                1:plan.name
                                                2:plan.payment_limit
                                                3:plan.amount_plus_flg
                                                4:plan.amount
                                                5:result.id
                                                6:result.payment_date
                                                7:result.memo
                                                8:result.amount_plus_flg
                                                9:result.amount
                                                10:unit.name_en
                                                11:result.sample_flg
                                            -->
                                            {% for anytime in payment_unit_data1 %}
                                            <tr id="payment_unit_tr1" class="plan_id{{ anytime.0 }} result_id{{ anytime.5|default:"" }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count1 }}>{{ anytime.10 }}</th>
                                            {% endif %}
                                            {% if anytime.11 == 1 %}
                                                <td name = "plan_name_name_tag{{ anytime.0 }}">{{ anytime.1 }}</td>
                                                <td>{{ anytime.2 }}</td>
                                                <td name = "plan_amount_name_tag{{ anytime.0 }}">
                                                    {% if anytime.4 is not None %}
                                                        ¥
                                                        {% if anytime.3 == 1 %}
                                                            +
                                                        {% elif anytime.4 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ anytime.4}}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td name = "plan_name_name_tag{{ anytime.0 }}"></td>
                                                <td></td>
                                                <td name = "plan_amount_name_tag{{ anytime.0 }}"></td>
                                            {% endif %}
                                                <td name = "result_name_name_tag{{ anytime.5 }}">{{ anytime.7 |default:"" }}</td>
                                                <td name = "result_amount_name_tag{{ anytime.5 }}">
                                                    {% if anytime.9 is not None and anytime.11 == 0 %}
                                                        ¥
                                                        {% if anytime.8 == 1 %}
                                                            +
                                                        {% elif anytime.9 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ anytime.9}}
                                                    {% endif %}
                                                </td>
                                                <td name = "result_paymentdate_name_tag{{ anytime.5 }}">{{ anytime.6 |date:"Y/m/d"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count2 > 0 %}
                                            {% for year in payment_unit_data2 %}
                                            <tr id="payment_unit_tr2" class="plan_id{{ year.0 }} result_id{{ year.5|default:"" }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count2 }}>{{ year.10 }}</th>
                                            {% endif %}
                                            {% if year.11 == 1 %}
                                                <td name = "plan_name_name_tag{{ year.0 }}">{{ year.1 }}</td>
                                                <td>{{ year.2 }}</td>
                                                <td name = "plan_amount_name_tag{{ year.0 }}">
                                                    {% if year.4 is not None %}
                                                        ¥
                                                        {% if year.3 == 1 %}
                                                            +
                                                        {% elif year.4 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ year.4}}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                    <td name = "plan_name_name_tag{{ year.0 }}"></td>
                                                    <td></td>
                                                    <td name = "plan_amount_name_tag{{ year.0 }}"></td>
                                            {% endif %}
                                                <td name = "result_name_name_tag{{ year.5 }}">{{ year.7 |default:"" }}</td>
                                                <td name = "result_amount_name_tag{{ year.5 }}">
                                                    {% if year.9 is not None and year.11 == 0  %}
                                                        ¥
                                                        {% if year.8 == 1 %}
                                                            +
                                                        {% elif year.9 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ year.9}}
                                                    {% endif %}
                                                </td>
                                                <td name = "result_paymentdate_name_tag{{ year.5 }}">{{ year.6 |date:"Y/m/d"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count3 > 0 %}
                                            {% for month in payment_unit_data3 %}
                                            <tr id="payment_unit_tr3" class="plan_id{{ month.0 }} result_id{{ month.5|default:"" }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count3 }}>{{ month.10 }}</th>
                                            {% endif %}
                                            {% if month.11 == 1 %}
                                                <td name = "plan_name_name_tag{{ month.0 }}">{{ month.1 }}</td>
                                                <td>{{ month.2 }}</td>
                                                <td name = "plan_amount_name_tag{{ month.0 }}">
                                                    {% if month.4 is not None %}
                                                        ¥
                                                        {% if month.3 == 1 %}
                                                            +
                                                        {% elif month.4 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ month.4}}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td name = "plan_name_name_tag{{ month.0 }}"></td>
                                                <td></td>
                                                <td name = "plan_amount_name_tag{{ month.0 }}"></td>
                                            {% endif %}
                                                <td name = "result_name_name_tag{{ month.5 }}">{{ month.7 |default:"" }}</td>
                                                <td name = "result_amount_name_tag{{ month.5 }}">
                                                    {% if month.9 is not None and month.11 == 0 %}
                                                        ¥
                                                        {% if month.8 == 1 %}
                                                            +
                                                        {% elif month.9 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ month.9}}
                                                    {% endif %}
                                                </td>
                                                <td name = "result_paymentdate_name_tag{{ month.5 }}">{{ month.6 |date:"Y/m/d"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count4 > 0 %}
                                            {% for week in payment_unit_data4 %}
                                            <tr id="payment_unit_tr4" class="plan_id{{ week.0 }} result_id{{ week.5|default:"" }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count4 }}>{{ week.10 }}</th>
                                            {% endif %}
                                            {% if week.11 == 1 %}
                                                <td name = "plan_name_name_tag{{ week.0 }}">{{ week.1 }}</td>
                                                <td>{{ week.2 }}</td>
                                                <td name = "plan_amount_name_tag{{ week.0 }}">
                                                    {% if week.4 is not None %}
                                                        ¥
                                                        {% if week.3 == 1 %}
                                                            +
                                                        {% elif week.4 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ week.4}}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td name = "plan_name_name_tag{{ week.0 }}"></td>
                                                <td></td>
                                                <td name = "plan_amount_name_tag{{ week.0 }}"></td>
                                            {% endif %}
                                                <td name = "result_name_name_tag{{ week.5 }}">{{ week.7 |default:"" }}</td>
                                                <td name = "result_amount_name_tag{{ week.5 }}">
                                                    {% if week.9 is not None and week.11 == 0 %}
                                                        ¥
                                                        {% if week.8 == 1 %}
                                                            +
                                                        {% elif week.9 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ week.9}}
                                                    {% endif %}
                                                </td>
                                                <td name = "result_paymentdate_name_tag{{ week.5 }}">{{ week.6 |date:"Y/m/d"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count5 > 0 %}
                                            {% for day in payment_unit_data5 %}
                                            <tr id="payment_unit_tr5" class="plan_id{{ day.0 }} result_id{{ day.5|default:"" }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count5 }}>{{ day.10 }}</th>
                                            {% endif %}
                                            {% if day.11 == 1 %}
                                                <td name = "plan_name_name_tag{{ day.0 }}">{{ day.1 }}</td>
                                                <td>{{ day.2 }}</td>
                                                <td name = "plan_amount_name_tag{{ day.0 }}">
                                                    {% if day.4 is not None %}
                                                        ¥
                                                        {% if day.3 == 1 %}
                                                            +
                                                        {% elif day.4 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ day.4}}
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td name = "plan_name_name_tag{{ day.0 }}"></td>
                                                <td></td>
                                                <td name = "plan_amount_name_tag{{ day.0 }}"></td>
                                            {% endif %}
                                                <td name = "result_name_name_tag{{ day.5 }}">{{ day.7 |default:"" }}</td>
                                                <td name = "result_amount_name_tag{{ day.5 }}">
                                                    {% if day.9 is not None and day.11 == 0 %}
                                                        ¥
                                                        {% if day.8 == 1 %}
                                                            +
                                                        {% elif day.9 == 0 %}

                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                        {{ day.9}}
                                                    {% endif %}
                                                </td>
                                                <td name = "result_paymentdate_name_tag{{ day.5 }}">{{ day.6 |date:"Y/m/d" }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        <tr>
                                            <th>TOTAL</th>
                                            <td>予定</td>
                                            <td></td>
                                            <td>¥{{ total_plan }}</td>
                                            <td>実績</td>
                                            <td>¥{{ total_result }}</td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inline-box">
                                        <form action="" method="post" role="form">
                                        {% csrf_token %}
                                        資産サマリー<button type="submit" name="wallet_button" value="wallet_button">更新</button>
                                            <table class="asset-table">
                                                {% for wallet in wallet_data %}
                                                    <tr class="asset_tr wallet_id{{ wallet.id }}">
                                                    {{ wallet.id.as_hidden }}
                                                        <th>{{ wallet.name }}</th>
                                                        <td>{{ wallet.balance }}円</td>
                                                        <td>使いすぎ</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </form>
                                    </div>
                                    <div class="inline-box">
                                        収支入力精度<br/>
                                        手動入力金額：-70000円<br/>
                                        自動調整金額：-30000円<br/>
                                        入力率：70%<br/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        {% endblock %}
                    </div>
                <td>
            </tr>
            <tr class = "footer">
                <td colspan = "2">
                </td>
            </tr>
        </table>
        <!--↓popupのテンプレートを読み込む-->
        <!--https://myscreate.com/pure-modal/-->
        {% include "./budget_popup.html" %}
        {% include "./asset_popup.html" %}

        <!--↓body閉じタグ直前でjQueryを読み込む-->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- 対象月プルダウンの初期値セット -->
        <script>
            var today = new Date();
            var month = today.getMonth();
            document.getElementById('id_month_select_box').options[month + 1 - {{ disp_month }}].selected = true;
        </script>
        <script>
            $(function () {
                $('#closeModal , #modalBg').click(function(){
                    $('#modalArea').fadeOut();
                });
            });
        </script>
        <script>
            <!-- クリック箇所に応じたデフォルト値をモーダルにセット -->
            <!--tdタグ内をクリック時に,該当class名からpayment_result_idを取得-->
            $('td').click(function(){
                arrClassName = $(this)[0].parentElement.className.split(" ");console.log(arrClassName);
                for(var i=0,l=arrClassName.length;i<l;i++) {
                    if(arrClassName[i].indexOf("result_id")===0) {
                        <!-- クリックした実績id -->
                        var payment_result_id = arrClassName[i].replace('result_id','');
                    }else if(arrClassName[i].indexOf("plan_id")===0) {
                        <!-- クリックした予算id -->
                        var payment_plan_id = arrClassName[i].replace('plan_id', '');
                    }
                }
                <!-- tdタグが重複しているため、.clickアクションが複数回回ってしまうのを排除。 -->
                if(payment_plan_id !== undefined) {
                    <!-- 予算タブ > 予算情報デフォルトセット START -->
                        <!-- セット位置の取得(id) -->
                        target_plan_id = document.getElementById("id_PPUF_planform_id");
                        <!-- 代入 -->
                        target_plan_id.value = payment_plan_id;

                        <!-- 予算名の取得 TODO 重複-->
                        var plan_name_text = document.getElementsByName("plan_name_name_tag" + payment_plan_id)[0].innerHTML;
                        <!-- セット位置の取得 -->
                        target_plan_name = document.getElementById("id_PPUF_planform_name");
                        <!-- 代入 -->
                        target_plan_name.value = plan_name_text;

                        <!-- 予算の取得 TODO replace不要。数値、符号を別々に取得。下にもあるamountも合わせて修正。-->
                        var plan_amount_text = document.getElementsByName("plan_amount_name_tag" + payment_plan_id)[0].innerHTML;
                        <!-- セット位置の取得(金額) -->
                        target_plan_amount = document.getElementById("id_PPUF_planform_amount");
                        <!-- 代入(金額) -->
                        plan_amount_text_num = plan_amount_text.replace(/[^0-9]/g, '');
                        target_plan_amount.value = plan_amount_text_num;
                        <!-- セット位置の取得(符号) -->
                        target_plan_amount_plus = document.getElementById("id_PPUF_planform_amount_plus_flg");
                        <!-- 代入(符号) -->
                        if(plan_amount_text.indexOf('+') != -1){
                            plan_amount_text_plus = 1;
                        }else{
                            plan_amount_text_plus = 0;
                        }
                        target_plan_amount_plus.value = plan_amount_text_plus;

                        <!-- 予算単位の取得 -->
                        var payment_unit_tr_id = document.getElementsByClassName("plan_id" + payment_plan_id)[0].id;
                        var unit_id = payment_unit_tr_id.replace('payment_unit_tr','');
                        <!-- セット位置の取得 -->
                        target_plan_unit = document.getElementById("id_PPUF_planform_payment_unit_id");
                        <!-- 代入 -->
                        target_plan_unit.options[Number(unit_id)-1].selected = true;


                    <!-- 予算タブ > 予算情報デフォルトセット END -->


                    <!-- 実績タブ > 予算情報デフォルトセット START -->
                        <!-- 予算名の取得 -->
                        var plan_name_text = document.getElementsByName("plan_name_name_tag" + payment_plan_id)[0].innerHTML;
                        <!-- セット位置の取得 -->
                        target_plan_name = document.getElementById("selected_plan_name");
                        <!-- 代入 -->
                        target_plan_name.innerHTML = plan_name_text;

                        <!-- 予算の取得 -->
                        var plan_amount_text = document.getElementsByName("plan_amount_name_tag" + payment_plan_id)[0].innerHTML;
                        <!-- セット位置の取得 -->
                        target_plan_amount = document.getElementById("selected_plan_amount");
                        <!-- 代入 -->
                        target_plan_amount.innerHTML = plan_amount_text;

                    <!-- 実績タブ > 予算情報デフォルトセット END -->


                    <!-- 実績タブ > 実績作成情報デフォルトセット -->
                        <!-- 予算名を実績メモに仮セット -->
                        <!-- セット位置の取得 -->
                        target_result_memo = document.getElementById("id_PRRF_memo");
                        <!-- 代入 -->
                        target_result_memo.value = plan_name_text;

                        <!-- 当日日付をセット -->
                        var date = new Date();
                        var yyyy = date.getFullYear();
                        var mm = ("0" + (date.getMonth() + 1)).slice(-2);
                        var dd = ("0" + date.getDate()).slice(-2);

                        document.getElementById("id_PRRF_payment_date").value = yyyy + '-' + mm + '-' + dd;

                        <!-- 予算IDの取得(hidden) -->
                        <!-- セット位置の取得 -->
                        target_plan_id_hidden = document.getElementById("id_PRRF_selected_plan_id");
                        <!-- 代入 -->
                        target_plan_id_hidden.value = payment_plan_id;

                    <!-- 実績タブ > 実績作成情報デフォルトセット END -->

                    <!-- 実績タブ > 実績更新情報デフォルトセット -->
                        <!-- 予算名を実績メモに仮セット -->
                        <!-- セット位置の取得 -->
                        target_result_memo = document.getElementById("id_PRUF_memo");
                        <!-- 実績名の取得 -->
                        var result_name_text = document.getElementsByName("result_name_name_tag" + payment_result_id)[0].innerHTML;
                        <!-- 代入 -->
                        target_result_memo.value = result_name_text;

                        <!-- 実績支払日の取得 -->
                        var result_paymentdate_text = document.getElementsByName("result_paymentdate_name_tag" + payment_result_id)[0].innerHTML;

                        var yyyy = result_paymentdate_text.slice(0,4);
                        var mm = result_paymentdate_text.slice(5,7);
                        var dd = result_paymentdate_text.slice(8,10);

                        <!-- 代入 -->
                        document.getElementById("id_PRUF_payment_date").value = yyyy + '-' + mm + '-' + dd;

                        <!-- 予算IDの取得(hidden) -->
                        <!-- セット位置の取得 -->
                        target_plan_id_hidden = document.getElementById("id_PRUF_selected_result_id");
                        <!-- 代入 -->
                        target_plan_id_hidden.value = payment_result_id;

                        <!-- 実績金額の取得 -->
                        var result_amount_text = document.getElementsByName("result_amount_name_tag" + payment_result_id)[0].innerHTML;
                        <!-- セット位置の取得(金額) -->
                        target_result_amount = document.getElementById("id_PRUF_amount");
                        <!-- 代入(金額) -->
                        result_amount_text_num = result_amount_text.replace(/[^0-9]/g, '');
                        target_result_amount.value = result_amount_text_num;
                        <!-- セット位置の取得(符号) -->
                        target_result_amount_plus = document.getElementById("id_PRUF_amount_plus_flg");
                        <!-- 代入(符号) -->
                        if(result_amount_text.indexOf('+') != -1){
                            result_amount_text_plus = 1;
                        }else{
                            result_amount_text_plus = 0;
                        }
                        target_result_amount_plus.value = result_amount_text_plus;

                    <!-- 実績タブ > 実績更新情報デフォルトセット END -->

                    <!-- Ajax   -->
                    csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;

                    <!-- Ajax(パラメータの取得)   -->

                        <!-- 初期化 -->
                        target_average_amount = document.getElementById("average_amount");
                        target_average_amount.innerHTML = "";

                        <!-- TODO urlを動的に取得 -->
                        $.ajax({
                            'url':"http://127.0.0.1:8000/user_admin/config1/",
                            'type':"POST",
                            'data':{
                                <!-- 適切なパラメータにする -->
                                "average_plan_id":payment_plan_id,
                                "csrfmiddlewaretoken":csrf,
                            },
                            'dataType':'json',
                            'success':function(response){
                                if(response['success_flg']==0){
                                    $.ajax({
                                        'url':"average_ajax/",
                                        'type':"POST",
                                        'data':{
                                            "average_plan_id":payment_plan_id,
                                            "csrfmiddlewaretoken":csrf,
                                        },
                                        'dataType':'json',
                                        'success':function(response){
                                            <!-- 平均金額挿入場所を取得 -->
                                            target_average_amount = document.getElementById("average_amount");
                                            <!-- 代入 -->
                                            target_average_amount.innerHTML = "(平均：¥" + response['average_price'] + ")";
                                        },
                                    });
                                }else if(response['success_flg']==1){
                                    <!-- TODO 平均金額計算の対象外の予算に対する処理-->
                                    alert("平均単価の取得失敗")
                                }else{

                                    <!-- TODO 異常系 -->
                                    console.log("ddd");
                                }
                            },
                        });
                    <!-- Ajax END -->

                    $('#modalArea').fadeIn();
                }
            })
        </script>
        <script>
            <!-- クリック箇所に応じたデフォルト値をモーダルにセット -->
            <!--tdタグ内をクリック時に,該当class名からwallet_idを取得-->
            $('td').click(function(){
                console.log("bbbbb")
                arrClassName = $(this)[0].parentElement.className.split(" ");
                for(var i=0,l=arrClassName.length;i<l;i++) {
                    if(arrClassName[i].indexOf("wallet_id")===0){
                        var wallet_id = arrClassName[i].replace('wallet_id', '');
                    }
                }

                if(wallet_id !== undefined){

                    $('#modalAreaAsset').fadeIn();
                }


            });
        </script>
        <script>
            $(function () {
                $('#closeModalAsset , #modalBgAsset').click(function(){
                    $('#modalAreaAsset').fadeOut();
                });
            });
        </script>
        <script>
            $(function(){
                $("#id_month_select_box").change(function(){
                    $("#month_form").submit();
                });
            });
        </script>
    </body>
</html>
