{% load static %}

<!DOCTYPE html>
<!--
960px想定
-->
<html lang="jp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/budget.css" type="text/css">
        <style type = "text/css">
            table.budget-table,table.asset-table{
                border:1px black solid;
            }
            table.budget-table tr,table.budget-table th,table.budget-table td{
                border:1px black solid;
            }
            table.asset-table tr,table.asset-table th,table.asset-table td{
                border:1px black solid;
            }
            div.side-menu{
                width:160px;
                border-right:1px black solid;
            }
            div.main-contents{
                width:800px;
                border-left:1px black solid;
            }
            div.inline-box{
                float:left;
            }

        </style>
    </head>
    <body>
        <table class = "body-frame">
            <tr class = "header">
                <td colspan = "2">
                </td>
            </tr>
            <tr class = "contents">
                <td>
                    <div class = "side-menu" >
                        hiroto side menu<br/>
                    </div>
                </td>
                <td>
                    <div class ="main-contents">
                        {% block main-contents-frame %}
                        <table class = "main-contents-frame">
                            <tr>
                                <td>
                                収支予定/資産状況{{ form.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>おすすめ集計範囲：</span>
                                    <span>カスタム集計範囲：</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   □week　□month
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class = "budget-table">
                                        <tr>
                                            <th></th>
                                            <th colspan="3">予定</th>
                                            <th colspan="3">実績</th>
                                        </tr>
                                        {% if payment_unit_count1 > 0 %}
                                            {% for anytime in payment_unit_data1 %}
                                            <tr id="payment_unit_tr1" class="result_id{{ anytime.id }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count1 }}>{{ anytime.payment_plan.payment_unit.name_en }}</th>
                                            {% endif %}
                                                <td>{{ anytime.payment_plan.name }}</td>
                                                <td>{{ anytime.payment_plan.payment_limit }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.payment_plan.amount }}
                                                </td>
                                                <td>{{ anytime.memo }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.amount }}
                                                </td>
                                                <td>{{ anytime.payment_date |date:"Y/m/j"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count2 > 0 %}
                                            {% for anytime in payment_unit_data2 %}
                                            <tr id="payment_unit_tr2" class="result_id{{ anytime.id }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count2 }}>{{ anytime.payment_plan.payment_unit.name_en }}</th>
                                            {% endif %}
                                                <td>{{ anytime.payment_plan.name }}</td>
                                                <td>{{ anytime.payment_plan.payment_limit }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.payment_plan.amount }}
                                                </td>
                                                <td>{{ anytime.memo }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.amount }}
                                                </td>
                                                <td>{{ anytime.payment_date |date:"Y/m/j"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count3 > 0 %}
                                            {% for anytime in payment_unit_data3 %}
                                            <tr id="payment_unit_tr3" class="result_id{{ anytime.id }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count3 }}>{{ anytime.payment_plan.payment_unit.name_en }}</th>
                                            {% endif %}
                                                <td>{{ anytime.payment_plan.name }}</td>
                                                <td>{{ anytime.payment_plan.payment_limit }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.payment_plan.amount }}
                                                </td>
                                                <td>{{ anytime.memo }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.amount }}
                                                </td>
                                                <td>{{ anytime.payment_date |date:"Y/m/j"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count4 > 0 %}
                                            {% for anytime in payment_unit_data4 %}
                                            <tr id="payment_unit_tr4" class="result_id{{ anytime.id }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count4 }}>{{ anytime.payment_plan.payment_unit.name_en }}</th>
                                            {% endif %}
                                                <td>{{ anytime.payment_plan.name }}</td>
                                                <td>{{ anytime.payment_plan.payment_limit }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.payment_plan.amount }}
                                                </td>
                                                <td>{{ anytime.memo }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.amount }}
                                                </td>
                                                <td>{{ anytime.payment_date |date:"Y/m/j"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        {% if payment_unit_count5 > 0 %}
                                            {% for anytime in payment_unit_data5 %}
                                            <tr id="payment_unit_tr5" class="result_id{{ anytime.id }}">
                                            {% if forloop.first %}
                                                <th rowspan={{ payment_unit_count5 }}>{{ anytime.payment_plan.payment_unit.name_en }}</th>
                                            {% endif %}
                                                <td>{{ anytime.payment_plan.name }}</td>
                                                <td>{{ anytime.payment_plan.payment_limit }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.payment_plan.amount }}
                                                </td>
                                                <td>{{ anytime.memo }}</td>
                                                <td>¥
                                                    {% if anytime.payment_plan.amount_plus_flg == 1 %}
                                                        +
                                                    {% elif anytime.payment_plan.amount == 0 %}

                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    {{ anytime.amount }}
                                                </td>
                                                <td>{{ anytime.payment_date |date:"Y/m/j"}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inline-box">
                                        資産サマリー<br/>
                                        <table class="asset-table">
                                            <tr>
                                                <th>現金</th>
                                                <td>20000円</td>
                                            </tr>
                                            <tr>
                                                <th>LINE pay</th>
                                                <td>5000円</td>
                                            </tr>
                                            <tr>
                                                <th>paypay</th>
                                                <td>300円</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="inline-box">
                                        収支入力精度<br/>
                                        手動入力金額：-70000円<br/>
                                        自動調整金額：-30000円<br/>
                                        入力率：70%<br/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        {% endblock %}
                    </div>
                <td>
            </tr>
            <tr class = "footer">
                <td colspan = "2">
                </td>
            </tr>
        </table>
        <button id="openModal1">Open modal</button>
        <!--↓popupのテンプレートを読み込む-->
        <!--https://myscreate.com/pure-modal/-->
        {% include "./budget_popup.html" %}

        <!--↓body閉じタグ直前でjQueryを読み込む-->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            var aa = 0;
            $(function () {
                $('#openModal1').click(function(){
                    aa ++;
                    $('#modalArea').fadeIn();
                    console.log(aa);
                });
                $('#closeModal , #modalBg').click(function(){
                    $('#modalArea').fadeOut();
                });
            });
        </script>
        <script>
            <!--tdタグ内をクリック時に,該当class名からpayment_result_idを取得-->
            $('td').click(function(){
                arrClassName = $(this)[0].parentElement.className.split(" ");
                for(var i=0,l=arrClassName.length;i<l;i++){
                    if(arrClassName[i].indexOf("result_id")===0){
                        var payment_result_id = arrClassName[i].replace('result_id',' ')
                        $('#modalArea').fadeIn();
                        break;
                    }
                }

            })
        </script>
    </body>
</html>
