<!DOCTYPE html>
<!--
960px想定
-->
<html lang="jp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type = "text/css">
            table.budget-table,table.asset-table{
                border:1px black solid;
            }
            table.budget-table tr,table.budget-table th,table.budget-table td{
                border:1px black solid;
            }
            table.asset-table tr,table.asset-table th,table.asset-table td{
                border:1px black solid;
            }
            div.side-menu{
                width:160px;
                border-right:1px black solid;
            }
            div.main-contents{
                width:800px;
                border-left:1px black solid;
            }
            div.inline-box{
                float:left;
            }
        </style>
    </head>
    <body>
        <table class = "body-frame">
            <tr class = "header">
                <td colspan = "2">
                </td>
            </tr>
            <tr class = "contents">
                <td>
                    <div class = "side-menu" >
                        hiroto side menu<br/>
                    </div>
                </td>
                <td>
                    <div class ="main-contents">
                        {% block main-contents-frame %}
                        <table class = "main-contents-frame">
                            <tr>
                                <td>
                                収支予定/資産状況
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>おすすめ集計範囲：</span>
                                    <span>カスタム集計範囲：</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   □week　□month
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class = "budget-table">
                                        <tr>
                                            <th></th>
                                            <th colspan="3">予定</th>
                                            <th colspan="3">実績</th>
                                        </tr>
                                        <tr>
                                            <th>day</th>
                                            <td>平日食事</td>
                                            <td>-1500円</td>
                                            <td>3/18</td>
                                            <td>平日食事</td>
                                            <td>-570</td>
                                            <td>3/18</td>
                                        </tr>
                                        <tr>
                                            <th>week</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>month</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inline-box">
                                        資産サマリー<br/>
                                        <table class="asset-table">
                                            <tr>
                                                <th>現金</th>
                                                <td>20000円</td>
                                            </tr>
                                            <tr>
                                                <th>LINE pay</th>
                                                <td>5000円</td>
                                            </tr>
                                            <tr>
                                                <th>paypay</th>
                                                <td>300円</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="inline-box">
                                        収支入力精度<br/>
                                        手動入力金額：-70000円<br/>
                                        自動調整金額：-30000円<br/>
                                        入力率：70%<br/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        {% endblock %}
                    </div>
                <td>
            </tr>
            <tr class = "footer">
                <td colspan = "2">
                </td>
            </tr>
        </table>
    </body>
</html>
